*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.navbar {
    background-color: #289DAA;
}

h2{
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;    
}

.container {
    margin-top: 7rem;
}

.separator-line{
    border:  1px solid #17A3B8;
    opacity: 100;
}

.presentation-section{
    background-color: black;
}

.card-header, .card-bg, .footer{
    background-color: #17A3B8;
}

.card-text .card-title{
    font-size: smaller;
}

.card-container + .card-container {
    margin-top: 1rem;
}

.card-container {
    margin-top: 1rem;
}

.card-bg{
    border: 1px solid;
    border-radius: 0.25rem;
}

.footer-text {
    align-items: center;
}

.footer-icon {
    color: white;
}
